<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Food Stream</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" media="screen">
		<link rel="stylesheet" href="/stylesheets/style.css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body>
	<div id="content">
		<%- body %>
	</div>
	</body>
</html>