<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Food Stream</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body>
	<div id="content">
		<%- body %>
	</div>
	</body>
</html>