<% layout('layout') -%>

<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" class="input-block-level" name="email" id="email" placeholder="Email address">
		<input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
		<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-large btn-primary loginButton" type="submit">Sign in</button>
	</form>
</div> <!-- /container -->


<script type="text/javascript">
	$(document).ready(function() {
		$(".loginButton").click(function() {
			$.ajax({
				type: "POST",
				url: 'memberLogin',
				data: $(".form-signin").serialize(),
				success: function(data) {
					if (data == "OK") {
					//login worked
					window.location = "/"
					}
				}
			});
			return false;
		});
	});
</script>