<% layout('layout') -%>

<div class="container">

  <form class="form-signup">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="input-block-level" name="email" id="email" placeholder="Email address">
    <input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
    <input type="text" class="input-block-level" name="first_name" id="first_name" placeholder="First Name">
    <input type="text" class="input-block-level" name="last_name" id="last_name" placeholder="Last Name">
    <button class="btn btn-large btn-primary regButton" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->


<script type="text/javascript">
  $(document).ready(function() {
    $(".regButton").click(function() {
      $.ajax({
        type: "POST",
        url: 'memberRegister',
        data: $(".form-signup").serialize(),
        success: function(data) {
          if (data == "OK") {
            //reg worked
            window.location = "/signin"
          }
        }
      });
      return false;
    });
  });
</script>